{
    "presets": [
        "babel-preset-expo",
        "react-native"
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-react-jsx-source",
                "syntax-async-functions",
                "transform-async-to-generator"
            ]
        }
    },
    "plugins": [
        "jsx-display-if",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ]
            }
        ],
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error",
                    "Array"
                ]
            }
        ]
    ]
}
